<!doctype html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="stylesheets/vendor/foundation.min.css">
    <link rel="stylesheet" href="stylesheets/vendor/motion-ui.css"/>
    <link rel='stylesheet' href='stylesheets/foundation-icons/foundation-icons.css' />
    <link rel="stylesheet" href="stylesheets/monthly.css">
    <link rel="stylesheet" href="stylesheets/managers.css"> <! custom stylesheet>
    <script src="javascripts/vendor/modernizr.js"></script>
</head>

<body>
<div class="top-bar" id="banner_top">
    <div class="top-bar-left">
        <ul class="menu">
            <li class="menu-text"><img src="/images/logo-black.png" class="logo" /></li>
            <li><h1>Project Managers</h1></li>
        </ul>
    </div>
</div>


<div id="main">
    <div class="sections">

<section id="first">
    <h2>Add New Project</h2>
    <hr>
    <h5>Please complete and submit the form below, then click 'Create Submission'</h5>
    <% { var i = jobBoardData.length %>
    <form action="/jobData" method="POST">
        <% } %>
        <fieldset class="fieldset">
            <legend><h5><strong>Project Details</strong></h5></legend>
            <div class="row">
                <div class="large-7 columns">
                    <label><h6>Project Name</h6></label>
                    <input type="text" value="" placeholder="Enter Project Name" name="projTitle" />
                </div>
                <div class="large-5 columns ">
                    <label><h6>Project Manager</h6></label>
                    <input type="text" value="" placeholder="Enter Employee Name" name="projManager" />
                </div>
            </div>
            <div class="row">
                <div class="large-5 columns">
                    <label><h6>General Description </h6>(Please limit to ~200 characters)</label>
                    <textarea type="text" value="" placeholder="Project Description" name="description" ></textarea>
                </div>
                <div class="large-7 columns">
                    <label><h6>Project Brief </h6>(Please separate specifics by ' | ')</label>
                    <textarea type="text" value="" placeholder="Specific 1 | Specific 2 | etc.." name="projBrief" ></textarea>
                </div>
            </div>
            <div class="row">
                <div class="large-6 columns">
                    <label><h6>Duties</h6></label>
                    <textarea type="text" value="" placeholder="Write Duties Here" name="duties" ></textarea>
                </div>
                <div class="large-6 columns">
                    <label><h6>Tasks </h6>(Please separate tasks by ' | ')</label>
                    <textarea type="text" value="" placeholder="Task 1 | Task 2 | etc.. " name="tasks" ></textarea>
                </div>
            </div>
            <div class="row">
                <div class="large-6 columns">
                    <label><h6>Education and Experience</h6></label>
                    <input type="text" value="" placeholder="Education Requirements Here" name="eduExp" />
                </div>
                <div class="large-6 columns">
                    <label><h6>Preferred Skills </h6>(Please separate preferred skills by ' | ')</label>
                    <input type="text" value="" placeholder="Skill 1 | Skill 2 | etc.. " name="tasks" />
                </div>
            </div>
            <div class="row expanded">
                <div class="large-6 large-centered columns">
                    <div class="button-group">
                        <a href="managers"><button type="submit" class="expanded success button" id="addProjButton" >Submit Project</button></a>
                        <button class="expanded secondary button" id="addProjButton" onClick="cancelAddProj()">Cancel Project</button>
                    </div>
                </div>
            </div>
        </fieldset>
    </form>
    <div class="page-data">
        <ul class="err-area"></ul>
    </div>
</section>
</div>
    </div>

<footer class="footer">
    <div class="row full-width">
        <div class="small-12 medium-3 large-4 columns">
            <a href="http://www.amdocs.com/pages/homepage.aspx"><i class="fi-home"></i></a>
            <h5>Amdocs is the market leader in customer experience software solutions and services for the world’s largest communications, entertainment and media service providers.</h5>
        </div>
        <div class="small-12 medium-3 large-4 columns">
            <a href="https://www.facebook.com/Amdocs/"><i class="fi-social-facebook"></i></a>
            <a href="https://twitter.com/Amdocs?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><i class="fi-social-twitter"></i></a>
            <a href="https://www.linkedin.com/company/amdocs"><i class="fi-social-linkedin"></i></a>
            <a href="https://www.youtube.com/user/amdocsinc"><i class="fi-social-youtube"></i></a>
            <a href="https://plus.google.com/+amdocs"><i class="fi-social-google-plus"></i></a>
            <h5>Follow us on social media for updates and upcoming events! </h5>
        </div>
        <div class="small-6 medium-3 large-2 columns">
            <h4>About</h4>
            <ul class="footer-links">
                <li><a href="#">Events</a></li>
                <li><a href="#">Partners &amp; Alliances</a></li>
                <li><a href="#">Awards &amp; Recognition</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">FAQ's</a></li>
            </ul>
        </div>
        <div class="small-6 medium-3 large-2 columns">
            <h4>Contact Us</h4>
            <ul class="footer-links">
                <li><a href="#">Global Offices</a></li>
                <li><a href="#">Amdocs Careers</a></li>
                <li><a href="#">Partner Program</a></li>
                <li><a href="#">Customer Support</a></li>
            </ul>
        </div>
    </div>
    <hr>
    <div class="row full-width">
        <h4>© 2016 Amdocs Inc. All rights reserved.</h4>
    </div>
</footer>



<script src="javascripts/vendor/jquery.js"></script>
<script src="javascripts/vendor/what-input.js"></script>
<script src="javascripts/vendor/foundation.min.js"></script>
<script src="javascripts/vendor/motion-ui.js"></script>
<script src="javascripts/monthly.js"></script>
<script src="javascripts/my_calendar.js"></script>
<script>
    $(document).foundation();
</script>

</body>
</html>
